<!-- Load jQuery first -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<!-- Load fitvids for responsive videos -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.2.0/jquery.fitvids.min.js"></script>

<!-- Load smooth-scroll for smooth scrolling -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-smooth-scroll/2.2.0/jquery.smooth-scroll.min.js"></script>

<!-- Load our custom JavaScript -->
<script src="{{ base_path }}/assets/js/_main.js"></script>

{% include analytics.html %}
