<script type="module" src="{{ base_path }}/assets/js/_main.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
      const toggleBtn = document.getElementById('theme-toggle');
      const themeIcon = document.getElementById('theme-icon');
      const themes = ['default', 'dark', 'cyberpunk'];
      let current = localStorage.getItem('theme') || 'default';
  
      const setTheme = (theme) => {
        document.documentElement.setAttribute('data-theme', theme);
        localStorage.setItem('theme', theme);
        themeIcon.className = 'fa-solid ' + (theme === 'dark' ? 'fa-moon' : theme === 'cyberpunk' ? 'fa-vial' : 'fa-sun');
      };
  
      setTheme(current);
  
      toggleBtn.addEventListener('click', () => {
        let index = (themes.indexOf(current) + 1) % themes.length;
        current = themes[index];
        setTheme(current);
      });
    });
  </script>  
{% include analytics.html %}
